.App {
  width: 100%;
  min-width: 0;
  min-height: 100vh;
  text-align: start;
}

.App[dir="ltr"] {
  direction: ltr;
  text-align: left;
}

.App[dir="rtl"] {
  direction: rtl;
  text-align: right;
}
